<?xml version="1.0" encoding="UTF-8"?>
<!--包命名方式为 id-versions.date -->
<!-- 插件提供的功能(类) --> <!--插件的唯一标识 --> <!--插件的名称，可以不唯一 --> <!--启动优先级启动数字越大启动越晚 --> <!--加载后立即启动  当插件为其他插件子插件是就无效 -->
<plugin-features
    Bundle-Name="KF5Plug"
    Bundle-SymbolicName="com.kf5sdk.simpleapp"
    Bundle-Version="1.0.0"
    date="2016.08.23"
    provider-name="APKPLUG"
    start-level ="1"
    start-up="true"
    Bundle-Activator="com.apkplug.kf5plug.MainActivitor"
>
    <processor
        uri="apkplug://kf5/userinfo"
        className="com.apkplug.kf5plug.UserInfoProcessor"
    />

    <processor
        uri="apkplug://kf5/openactivity"
        className="com.apkplug.kf5plug.OpenActivityProcessor"
    />

</plugin-features>