<?xml version="1.0" encoding="UTF-8"?>
<!--包命名方式为 id-versions.date -->
<!-- 插件提供的功能(类) --> <!--插件的唯一标识 --> <!--插件的名称，可以不唯一 --> <!--启动优先级启动数字越大启动越晚 --> <!--加载后立即启动  当插件为其他插件子插件是就无效 -->
<plugin-features
    Bundle-Name="UMSharePlug"
    Bundle-SymbolicName="com.apkplug.umshareplug"
    Bundle-Version="4.0.7"
    Bundle-Activator="com.apkplug.umshareplug.MainActivitor"
    date="2016.08.17"
    provider-name="APKPLUG"
    start-level ="1"
    start-up="true"
    Use-Host-MetaData="true"
    Use-Host-AppName="true"
    plug_id="plug_user_20jF7dnvY2c"
    Short-Links="http://yyfr.net/q1t"
>
    <processor
        uri="apkplug://umshare/init"
        className="com.apkplug.umshareplug.InitProcessor"
    />

    <processor
        uri="apkplug://umshare/share"
        className="com.apkplug.umshareplug.ShareProessor"
    />

</plugin-features>